body {
    background-color: green;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}

.dark-mode {background-color: purple; color: white;}

h1 {
    font-family: "Georgia", serif;
    font-size: 36px;
    color: #333;
}

img {
    width: 400px;
    height: 300px;
}
